<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <form method="POST" action="/posts">
        <input placeholder="Enter your name" name="username" required>
        <br><br>
        <textarea name="content" placeholder="Write your post" required></textarea>
        <br><br>
        <button type="submit">Submit Post</button>
    </form>
</body>
</html>